body {
    background-color:#EEF7FA;
    font-family: Roboto, serif;
	font-weight: 400;
}

form {
	margin-left:auto;
	margin-right:auto;
    width:13em;
	margin-top:.6em;
}

h2 {
    color:#f78d1d;
	margin-bottom: -.6em;
	font-size: 1.5em;
	text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}
h3 {
    color:#527483;
	margin-bottom: -.2em;
	font-size: 1em;
    font-family: 'Roboto Slab', sans-serif;
	text-align: center;
}

p{
	margin-top:.4em;
	margin-bottom:0;
}

input{
    width:100%;
    display: block;
    padding-top:.25em;
    padding-bottom:.25em;
    text-indent:.5em;
    border-radius:.5em;
    border: 1px solid #cccccc;
}

div{
	display:inline-block;
	margin-bottom: -.3em;
}

#txt_site{
	width:70%;
	float:left;
}

#num_iteration{
	width:25%;
	float:right;

}

#lab_site{
	width:50%;
	float:left;

}

#lab_iteration{
	width:50%;
	float:right;
	text-align: right;

}

#btn_generate {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 1em;
    margin-top:.5em;
    margin-bottom:.5em;
    padding:.75em;
	border-radius:.25em;
    color: #fef4e9;
	border: solid 1.5px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);

	
	
}
#btn_generate:hover {
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
}