<!DOCTYPE html>
<html lang="en">
<head>
    <title>When there's a Will, there's {% block page_title %}...{% endblock %}</title>
    <link rel="stylesheet" href='{{ STATIC_URL }}css/base.css'/>
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,700|Bevan|Cinzel' rel='stylesheet' type='text/css'>
    {% block links %}
    {% endblock %}
    <link rel="shortcut icon" type="image/ico"  href="http://www.whentheresawill.net/favicon.ico"/>
</head>
<body >
	<div class='header'>
		<div class='menu-container'>
			<ul class='main-menu'>
				<li class='list-menu'><a class='menu-a' href="{% url 'about' %}">About</a></li>
				<li class='list-menu'><a class='menu-a'  href="{% url 'code' %}">Code</a></li>
				<li class='list-logo'><a class='logo' href="{% url 'home' %}"></a></li>
				<li class='list-menu'><a class='menu-a'  href="{% url 'design' %}">Words & Design</a></li>
				<li class='list-menu'><a class='menu-a'  href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class='container'>
        {% block page_sidebar %}
    	<div class='sidebar'>
		</div>
        {% endblock %}
        
        {% block page_content %}
        <div class='main'>
        </div>
        {% endblock %}
	</div>
	<div class='footer'>
		<p class='copyright'>&copy William Lee-Wagner, 2013</p>
	</div>
</body>
</html>