{% extends "_layouts/base.html" %}

{% block page_sidebar %}
    	<div class='sidebar'>
			<div class='side_container'><img src='{{ STATIC_URL }}img/will-headshot.png' alt='headshot' title='Hi!' /></div>
		</div>
{% endblock %}

{% block page_content %}
    	<div class='main'>
			<p class='headline'>Hi! I'm Will.</h2>
			<p>Good to meet you!</p>
			<p>I'm a techie guy, a few years out of college, living in San Francisco and working full time but still looking to do cool stuff - maybe for you!</p>
			<p>Right now, I'm working full-time doing Accounts Payable and Data Management, and trying to learn as much as I can about everything.</p>
			<p>I've got experience in payroll, and have learned to do some cool stuff with VBA, Excel, Access and SQL to automate the office. I've made some data entry forms, an employee database, scripts to clean up somebody else's database output, a few add-ins, that sort of thing.</p>
			<p>I'm also taking classes to learn more about accounting and programming. I took intro accounting, and I'm doing MySQL and Java right now. Next is Python over the summer, if I can get into the class. Besides, all that, I'm learning HTML/CSS/Javascript.</p>
			<p>I was a writer and the head of graphic design at my college newspaper, so I've got some chops there too.</p>
			<p>Basically, I'm an all-around do-er. And if I don't know how to do something (yet), give me just a little time, and I'm your guy.</p>
			<p>Sound cool? Awesome, I think so too! <a href='{{ STATIC_URL }}binaries/will_lee-wagner_resume.pdf'>Check out my resume</a> and hit the links up top for more about what I've done and what I can do. And if you think I could do something for you - freelance or full-time - hit the contact button and drop me a line!</p>
        </div>
{% endblock %}