{% extends "_layouts/base.html" %}

{% block links %}
    <link rel="stylesheet" href='{{ STATIC_URL }}css/sidebarSamples.css'/>    
    <script type="text/javascript" src='{{ STATIC_URL }}js/sidebarFront.js'></script>
{% endblock %}

{% block page_sidebar %}
        <div id="sidebar_samples" class="sidebar">
            <div id="sample_container" class="side_container">
                <p id="sidebarText"><strong>Roll over the links below to get a taste of what I've been up to, then click through to see more!</strong></p>
            </div>
        </div>
{% endblock %}

{% block page_content %}

        <p>I am currently transitioning to <a href='https://www.djangoproject.com/'>Django</a> - pieces of the site may be unfinished in the meantime.</p>
        
        <p class="headline">I'm Will!</p>
        <p>They say that <span class='old'>"Where there's a Will, there's a way."</span></p>
        <p>
            I've always liked that phrase, for obvious reasons. But it does seem a little
            out-dated. I mean, where? This is the internet. Where isn't really that important.
            (Though, FYI, I'm in San Francisco.)</p>
        <p>
            <em>When</em> though, now that does mean something. You never know when you'll
            need something done - except that <em>when</em> usually means <em>now.</em> That's
            is why I'm a generalist. Whenever you need something, I probably know how to help.
            Need a script to parse through some data, right now? <a id="report" class="samples">Done.</a>
            Is it t-shirt time? <a id="rocket" class="samples">You bet it is.</a>
            Time for a new logo? <a id="ellis" class="samples">I can do that.</a>
            Looking for economic analysis? <a id="tajik" class="samples">That's what my degree's in.</a>
            Think it's time your organization had a newsletter? <a id="hull" class="samples">It'll look awesome.</a>
            Your day needs brightening? <a id="turtle" class="samples">Adorable.</a>
            Got an event coming up? <a id="poster" class="samples">It's on!</a>
            Decide to make your online life more secure? <a id="sitePass" class="samples">I've already go you covered.</a>
            And, I can do all that while working in payroll, Accounts Payable, and doing whatever else needs doing.</p>
        <p>
            To learn more about who I am and what I do, check out the links up top, and if
            you'd like, drop me a line through the <a href='{{ contact.get_absolute_url }}'>contact page!</a>
        </p>
{% endblock %}