{% extends "section/base.html" %}

{% block page_title %}{{ section.title }}{% endblock %}

{% block links %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}section/css/shCoreEclipse.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}section/css/shThemeEclipse.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}section/js/shCore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}section/js/shAutoloader.js"></script>
{% endblock %}

{% block content %}
<div class='nav-bar'><nav>
    {% for nav in nav_list %}
    {% ifequal nav.id section.id %}
    <a class='menu-a menu-curr' href="{% url 'section:section' nav.slug %}">{{ nav.title }}</a>
    {% else %}
    <a class='menu-a' href="{% url 'section:section' nav.slug %}">{{ nav.title }}</a>
    {% endifequal %}
    {% endfor %}
</nav></div>
{% for slice in slice_list %}
<div class='slice slice-{{ slice.type }}'><div class='slice-container'>
    {% if slice.title %}
    <div class='slice-head'>{{ slice.title|safe }}</div>
    {% endif %}
    {% for grid in grid_list %}
    {% ifequal grid.slice.id slice.id %}
    <div class='grid grid-{{ grid.size }}'>
    {% if grid.sort_key == 1 %}
    <div class='grid-container grid-cont-left'>
    {% elif grid.sort_key == slice.max %}
    <div class='grid-container grid-cont-right'>
    {% else %}
    <div class='grid-container grid-cont-mid'>
    {% endif %}
        <h3>{{ grid.header|safe }}</h3>
        {% if grid.img %}
        <img class=grid-img src='{{ grid.img.url }}' title='{{ grid.content }}'/>
        {% elif grid.language %}
        <pre class='brush: {{ grid.language }}'>{{ grid.content }}</pre>
        {% else %}
        {{ grid.content|safe|linebreaks }}
        {% for link in link_list %}
        {% ifequal link.grid.id grid.id %}
        {% if link.section_link %}
        <a href="{% url 'section:section' link.section_link.slug %}">
        {% elif link.other_link %}
        <a href="{{ link.other_link }}">
        {% elif link.file_link %}
        <a href="{{ link.file_link.url }}">
        {% else %}
        <a>
        {% endif %}
        {{ link.display }}</a><br/>
        {% endifequal %}
        {% endfor %}
        {% endif %}
    </div></div>
    {% endifequal %}
    {% endfor %}
</div></div>
{% empty %}
<div class='slice slice-0'><div class='grid grid-full'><div class='grid-container'>
<h2>This section is still in development.</h2>
</div></div></div>
{% endfor %}

<script type="text/javascript">
    SyntaxHighlighter.autoloader(
    'py python                {{ STATIC_URL }}section/js/shBrushPython.js',
    'js jscript javascript    {{ STATIC_URL }}section/js/shBrushJScript.js',
    'sql mysql                {{ STATIC_URL }}section/js/shBrushSql.js',
    'vb vbnet                 {{ STATIC_URL }}section/js/shBrushVb.js'
    );
    SyntaxHighlighter.all();
</script>
    
{% endblock %}
