{% extends "_layouts/base.html" %}

{% block page_title %}{{ code_page.title }} | {% endblock %}

{% block links %}
<title>Code: {{ code_page.title }}</title>
<script type="text/javascript" src="{{ STATIC_URL }}code_page/js/shCore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}code_page/js/shBrushPython.js"></script>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}code_page/css/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% endblock %}

{% block page_sidebar %}
{% endblock %}

{% block page_content %}
<div class='main'>
<h2>{{ code_page.title }}</h2>
{% if code_page.link %}
<p><a href="{{ code_page.link }}">See it in action<a/></p>
{% endif %}
{% if code_page.binary_path %}
<p><a href="{{ code_page.binary.url }}">Check out the download</a></p>
{% endif %}

{{ code_page.description|linebreaks }}

<p><em>Code Sample:</em></p>
<pre class='brush: python;'>
    {{ code_page.code }}
</pre>
</div>

<p></p><a href="{% url 'code_page:list' %}">&larr; Back to code list</a></p>
{% endblock %}
