{% extends "_layouts/base.html" %}

{% block page_title %}{{ post.title }} | {% endblock %}

{% block links %}
<title>Code: {{ post.title }}</title>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}code_page/css/shCoreEclipse.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}code_page/css/shThemeEclipse.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}code_page/js/shCore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}code_page/js/shAutoloader.js"></script>
{% endblock %}

{% block page_sidebar %}
{% endblock %}

{% block page_content %}
<div class='main'>
<h2>{{ post.title }}</h2>
{% if post.link_path %}
<p><a href="{{ post.link_path }}">{{ post.link_desc }}<a/></p>
{% endif %}
{% if post.binary_path %}
<p><a href="{{ post.binary_path.url }}">{{ post.binary_desc }}</a></p>
{% endif %}

{{ post.description|linebreaks }}

<p><em>Code Sample:</em></p>
<pre class='brush: {{ post.code_language }}'>
{{ post.code }}
</pre>
</div>

<p></p><a href="{% url 'code_page:list' %}">&larr; Back to code list</a></p>

<script type="text/javascript">SyntaxHighlighter.autoloader(
  'py python                {{ STATIC_URL }}code_page/js/shBrushPython.js',
  'js jscript javascript    {{ STATIC_URL }}code_page/js/shBrushJScript.js',
  'sql mysql                {{ STATIC_URL }}code_page/js/shBrushSql.js',
  'vb vbnet                 {{ STATIC_URL }}code_page/js/shBrushVb.js'
);
SyntaxHighlighter.all();</script>
{% endblock %}
