{% extends "section/base.html" %}
{% load jstemplate %}

{% block page_title %}Normalized Address Splitter | {% endblock %}
{% block meta_description %}
This page takes a two-field address and splits it into a normalized seven-field address
{% endblock %}

{% block links %}
<link rel='stylesheet' href='{{ STATIC_URL }}address_checker/address_checker.css' type='text/css'>
<script type='text/javascript' src='{{ STATIC_URL }}lib/jquery-2.0.3.min.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}lib/mustache.js'></script>
<script type='text/javascript' src='{{ STATIC_URL }}address_checker/address_checker.js'></script>
{% mustachejs "address" %}
{% endblock %}


{% block content %}
<div class='nav-bar'><nav>
    {% for nav in nav_list %}
    {% ifequal nav.id section.id %}
    <a class='menu-a menu-curr' href="{% url 'section:section' nav.slug %}">{{ nav.title }}</a>
    {% else %}
    <a class='menu-a' href="{% url 'section:section' nav.slug %}">{{ nav.title }}</a>
    {% endifequal %}
    {% endfor %}
</nav></div>

<div class='slice-back'></div><div class='foot-back'></div>
<div class='slice slice-0'><div class='slice-container'>
<div class='grid grid-full'><div class='grid-container grid-cont-mid'>
<div class='slice-head'>Split an Address</div>
  <p>
    This is a sample page that shows off some of my python and ajax skills.
  </p>
  <p>
    It is hooked up to a python address splitter function, which uses regular expressions to break a two-field address into a seven-field one.
    It's mostly useful when converting an address database from a limited two-line
    format to a modern, normalized format, where each piece of the address has its own field.
  </p>
  <p>
    I've used ajax techniques to query the python script without refreshing the page, and then add another set of fields to add more data into.
  </p>
  <br/>
  <p>
    Since addresses come in a lot of formats, a two-line database can have a lot of weird formats 
    crammed into those lines. This attempts to parse all of that. 
  </p>
  <p>
    This page is just an example - put in two address lines, and it'll spit out a nicely parsed address, and give you the space to try another one.
    But if you just wanted to split a single address, you could do that yourself. The real beauty of this
    sort of function in when you have thousands of records to clean. Check back soon, and you'll be able to upload
    a text file of addresses and get a download of them all split up.
  </p>
</div></div>
</div></div>

{% endblock %}